<div class="container">
  <div class="row justify-content-center">

    <div *ngIf="autoList" class="col-7 my-5">
      <h2 class="text-center display-6 fw-bold">Annunci Disponibili</h2>
    </div>
    <div *ngFor="let auto of autoList" class="col-5 my-3 mx-2 card bg-dark bg-opacity-75 rounded-5" >
      <div class="row d-flex align-items-center">
        <h3 class="card-title text-center mt-3">{{auto.marca}} {{auto.modello}} {{auto.annoDiImmatricolazione}}</h3>
        <div class="col-5 ">
          <img *ngIf="auto.foto" [src]="auto.foto" class="card-img-top rounded-3">
          <img *ngIf="!auto.foto" src="../../../assets/img/immagine-non-disponibile.png" class="card-img-top rounded-3" alt="">
        </div>
          <div class="card-body col-6 ">
            <ul class="list-group list-group-flush rounded-5">
              <li class="list-group-item bg-transparent-gradient">Marca: {{auto.marca}}</li>
              <li class="list-group-item bg-transparent-gradient">Modello: {{auto.modello}}</li>
              <li class="list-group-item bg-transparent-gradient">Anno di Immatricolazione: {{auto.annoDiImmatricolazione}}</li>
              <li class="list-group-item bg-transparent-gradient">Cilindrata: {{auto.cilindrata}}</li>
              <li class="list-group-item bg-transparent-gradient">Alimentazione: {{auto.tipoAlimentazione}}</li>
              <li class="list-group-item bg-transparent-gradient">€ {{auto.prezzo}},00</li>
            </ul>
          </div>
      </div>
      <div class="text-center">
        <button [routerLink]="['/dettagli', auto.id]" class="btn btn-warning my-3">Dettagli</button>
      </div>
    </div>
  </div>
</div>
