<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-4 mb-4 border-bottom bg-dark">
  <div class="col-md-3 mb-2 mb-md-0">
    <!-- <a href="/" class="d-inline-flex text-decoration-none"> -->
      <img class="imgLogo" src="../../../../assets/img/1710260657306gb6ul2eq.png" alt="">
    <!-- </a> -->
  </div>

  <h2 class=" col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <a routerLink="/home" class="text-decoration-none text-light">AutoShop</a>
  </h2>

  <div *ngIf="!(isLogged| async)" class="col-md-3 text-end">
    <a routerLink="/auth" type="button" class="btn btn-outline-warning  me-2">Login</a>
  </div>
  <div *ngIf="(isLogged | async)" class="col-md-3 text-end d-flex">
    <div  class="">
      <a routerLink="/dashboard" type="button" class="btn btn-outline-warning  me-2">Dashboard</a>
    </div>
    <div class="">
      <a routerLink="/home" (click)="logout()" type="button" class="btn btn-outline-warning  me-2">Logout</a>
    </div>
  </div>
</header>
