<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-4 mb-4 bg-dark">
  <div class="col-md-3 mb-2 mb-md-0">
      <img class="imgLogo rounded-5" src="../../../../assets/img/Ford Mustang.jpeg" alt="">
  </div>
  <div class=" col-12 justify-content-center col-md-auto mb-2 mb-md-0">
    <div class="d-flex align-items-center">
      <h2 class="display-4">
        <a routerLink="/home" class="text-decoration-none text-light">AutoShop</a>
      </h2>
      <div  class="ms-4">
          <a routerLink="/home" type="button" class="btn text-warning">Home</a>
          <a *ngIf="(isLogged |async)" routerLink="/dashboard" type="button" class="btn text-warning">Dashboard</a>
      </div>
    </div>
  </div>

  <div *ngIf="!(isLogged| async)" class="col-md-3 text-end">
    <a routerLink="/auth" type="button" class="btn btn-outline-warning  me-2">Login</a>
  </div>
  <div *ngIf="(isLogged | async)" class="col-md-3 text-end">
      <a routerLink="/home" (click)="logout()" type="button" class="btn btn-outline-warning  me-2">Logout</a>
  </div>
</header>
