<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="card col-5">
      <div class="card-body mx-2">
        <h5 class="card-title">Dettagli Utente</h5>
        <table class="table">
          <tbody>
            <tr>
              <td><strong>Nome:</strong></td>
              <td *ngIf="!isModificaAttiva">{{utente.nome}}</td>
              <td *ngIf="isModificaAttiva"><input type="text" [(ngModel)]="utente.nome"></td>
            </tr>
            <tr>
              <td><strong>Cognome:</strong></td>
              <td *ngIf="!isModificaAttiva">{{utente.cognome}}</td>
              <td *ngIf="isModificaAttiva"><input type="text" [(ngModel)]="utente.cognome"></td>
            </tr>
            <tr>
              <td><strong>Email:</strong></td>
              <td *ngIf="!isModificaAttiva">{{utente.email}}</td>
              <td *ngIf="isModificaAttiva"><input type="text" [(ngModel)]="utente.email"></td>
            </tr>
            <tr>
              <td><strong>Username:</strong></td>
              <td *ngIf="!isModificaAttiva">{{utente.username}}</td>
              <td *ngIf="isModificaAttiva"><input type="text" [(ngModel)]="utente.username"></td>
            </tr>
            <tr>
              <td><strong>Password:</strong></td>
              <td *ngIf="!isModificaAttiva">******</td>
              <td *ngIf="isModificaAttiva"><input type="text" [(ngModel)]="utente.password"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center my-5">
        <button *ngIf="isModificaAttiva" class="btn btn-warning" (click)="updateUtente()">Salva</button>
        <button *ngIf="!isModificaAttiva" class="btn btn-warning" (click)="attivaModifica()">Modifica</button>
      </div>
    </div>
    <div class="card col-5 mx-2">
      <div class="card-body">
        <h5 class="card-title">Avatar</h5>
        <div class="d-flex justify-content-center ">
          <img *ngIf="utente.avatar" [src]="utente.avatar" class="card-img-top rounded-2">
        </div>
        <p *ngIf="!utente.avatar" class="text-center mt-5">Immagine Non Presente</p>
      </div>
      <div class="d-flex justify-content-center my-5">
        <label for="avatarInput" *ngIf="!utente.avatar" class="btn btn-warning">Aggiungi</label>
        <label for="avatarInput" *ngIf="utente.avatar" class="btn btn-warning">Modifica</label>
        <input type="file" id="avatarInput" (change)="uploadAvatar($event)" style="display: none;">
      </div>
    </div>
  </div>

<div class="card col-5 mt-5">
  <div class="card-body">
    <h5 routerLink="" class="card-title"></h5>
    <a routerLink="/dashboard/crea-auto" class="btn btn-warning my-4">Nuova Auto</a>
  </div>
</div>
</div>
